/**
*These are the colors we use
*#0B3861 header lyser
*navigation bar blå #022340
*hover oransje: #963307
*font farge #dadad9
*/

/**
* MAIN PAGE Structure
* RHJ -
*/

main{
  display: flex;
  flex-direction: column;
  background-color: white;

}
body{
  margin: 0 10% 0 10%;
  /**background-color: #0B3861;**/
}

/* Media screen for large screens - RHJ
  - More white space required for large screen.
*/
@media (min-width : 1824px) {
  body{
      margin: 0 25% 0 25%;
  }
}
/* Media screen for small screens - RHJ
  - Much white space is unnecessary on phone
*/
@media (max-width : 800px) {
  body{
      margin: 0 5% 0 5%;
  }
}

/**
*header
NG
**/
header{
  background-color: #0B3861;
  width:100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

header ul{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}
header li{
  float: left;
}
.nav{
  background-color: #022340;
  width:100%;
  margin: 0;
  padding:0;
  overflow:hidden;
  font-family: sans-serif;
  display: flex;
}

@media (max-width: 800px) {
  .nav {
      flex-direction: column;
      justify-content: space-between;
  }
}

.searchBar {
  justify-content: space-between;
  width: 20%;

}
#searchInput {
  width: 60%;
  height: 1.5rem;
  border-radius: 2px;
}

.nav a{
  text-align: center;
  transition: all 0.3s ease;
  color: #dadad9;
  text-decoration:none;
  padding:10px;
  display: block;
  margin: 0;
}
.nav a:hover{
  background-color: #963307;
  color: white;
  text-decoration: none;
}
.nav a.active{
  background-color: #963307;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
#logo{
  width:10%;
  padding-left: 4px;
}
.fjell{
  width:5%;
}
.search{
  display: block;
  color:#dadad9;
  background-color: #0B3861;
  font-family: sans-serif;

}
#facebook{
  max-width: 8%;
  float: right;
  opacity: 0.8;
}
/* Media screen for small screens - RHJ
  - Make logo much bigger on phone screens
*/
@media (max-width : 800px) {
  #logo{
    width:20%;
  }
  .fjell{
    width:10%;
  }

  #facebook {
    max-width: 50%;
  }
}
/**footer
*NG
**/
footer{
  width:100%;
  background-color: #0B3861;
  color:#dadad9;
  padding:10px;
  border-radius: 2px;
}
#footer_overskrift{
  color:#963307;
  font-family: sans-serif;
}
/**
* FRONT PAGE
* RHJ -
*/
.frontpage {
  display:flex;
}
/* Media screen for small screens - RHJ
  - Move to a column display on phones to prevent cramped space
*/
@media (max-width : 800px) {
  .frontpage {
    flex-direction: column;
  }
}
.information {
  border: solid 1px;
  align-items: center;
}
.front-picture {
  max-width: 50%;
  align-self: center;
  border: solid 1px;
}
/* Media screen for large screens - RHJ
  - Shrink front image on small screens.
*/
@media (min-width : 1824px) {
  .front-picture {
    max-width: 80%;
  }
}

/* Media screen for small screens - RHJ
  - Make information section fill screen width
*/
@media (min-width : 320px) and (max-width : 480px) {
  .information {
    width: auto;
  }
}

.interactivity {
  float: right;
  margin:0;
  padding:0;

}
/* Media screen for small screens - RHJ
  - Make Facebook logo smaller on phones.
*/
@media (min-width : 320px) and (max-width : 480px) {
  #facebook{
   width:20%;
  }
}

.interactiveHeader{
    display:block;
}
.search {
  display:block;
  background-color: #0B3861;
  color:#dadad9;
  padding:4px;
  font-family: sans-serif;
  font-weight:lighter;
}
#facebook{
  width:30%;
}
/**
* MAP PAGE
* RHJ -
*/
.mapDescription {
  margin: 5px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  height: 2rem;
  width: 100%;
  margin: 5px;
  border: 1px solid;
}

.defaultOption {
  color: grey;
}

select {
  font-size: 1.2rem;
}
/* Media screen for large and medium screens - RHJ
  - Don't display the dropdown menu if the screen is laptop size or bigger.
 */
@media (min-width : 850px) {
.survivalDropdown {
    display: none;
  }
}

.table-of-contents {
  animation: fadein 2s;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: 2px solid #022340;
  padding: 5px;
  margin: 5px;
}

/**
 * Styling for location.
 * Author: Øyvind Johannessen
 **/
.location {
  animation: fadein 1s;
  margin: 5px;
  width: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0B3861;
}

/**
 * Id's for controlling the dropdown meny's show and hide.
 * Author: Øyvind Johannessen
**/
#drinking {
  display: none;
}

#uib {
  display: none;
}

#culture {
  display: none;
}

#hikes {
  display: none;
}

#stores {
  display: none;
}

/**
 * This ID is for the first text below the first image of the survival page
 * It is mainly here to activate the show/hide myFunction
 * The other ID's are for showing and hiding depending on user request at subNav
 * Author: Øyvind Johannessen
**/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#description-text {
  animation: fadein 2s;
  display: flex;
}

#myHeart {
  animation: fadein 2s;
  display: none;
  flex-direction: column;
}

#myHeart img {
  width: 50%;
}

#myFriends {
  animation: fadein 2s;
  display: none;
  flex-direction: column;
}

#myFriends img {
  width: 50%;
}

#myLife {
  animation: fadein 2s;
  display: none;
  flex-direction: column;
}

#myLife img {
  width: 50%;
}

#myMoney {
  animation: fadein 2s;
  display: none;
  flex-direction: column;
}

#myMoney img {
  width: 50%;
}

#myTransport {
  animation: fadein 2s;
  display: none;
  flex-direction: column;
}

#myTransport img {
  width: 50%;
}

#myFreeRide {
  animation: fadein 2s;
  display: none;
  flex-direction: column;
}

#myFreeRide img {
  width: 50%;
}

/**
 * Styling for location image. This is where the image goes
 * Author: Øyvind Johannessen
 **/
.location-image {
  animation: fadein 1s;
  flex: 0.5 0 auto;
  align-self: center;
  width: 10%;
  margin: 5px;
  border: 1px solid;
  border-color: #dadad9;
  border-radius: 2px;
  background-color: #dadad9;
}

/**
 * Styling for all images that is used in table of content of the map.html
 * Author: Øyvind Johannessen
 **/
.img {
  display: flex;
  width:  100%;
  border-radius: 2px;
}

/**
 * Styling for location information. This is where the information goes
 * Author: Øyvind Johannessen
 **/
.location-info {
  animation: fadein 1s;
  flex: 1 0 auto;
  width: 65%;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  color: #dadad9;
}

/**
 * Location (Mark) button styling
 * Author: Øyvind Johannessen
 **/
.location-button {
  animation: fadein 3s;
  flex: 0.5 0 auto;
  align-self: stretch;
  margin: 5px;

}

#mark-button {
  height: 100%;
  width: 100%;
}

/*Survival*/
.skyss{
  display: flex;
  flex-direction: row;
  width: 20%;
}

/** NAV bars styled using curriculum techniques - RHJ **/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navBar {
  margin-right: 1rem;
}
.searchBar{
  vertical-align: center;
  margin-left: auto;
}

/* Small margin for search menu */
#mapSearch {
  margin-right: 1rem;
}

.subNav {
  display: flex;
  text-align: center;
  padding: 5px;
  background-color: white;
  border-bottom: 2px solid;
  border-bottom-color: #022340;
  justify-content: space-between;
}

.navItem:hover {
  text-align: center;
  transition: all 0.3s ease-in;
  color: #963307;
  border: 1px solid black;
  border-radius: 2px;
  text-decoration:none;
  padding: 5px;
  display: block;
  margin: 0;

}

/* Media screen for small screens - RHJ
 - Don't display the submenu if the screen is below a certain size.
*/
@media (max-width: 850px) {
.subNav {
    display: none;
  }
}

.navItem {
  text-decoration: none;
  transition: all 0.3s ease-out;
  color: #0B3861;
  font-size: 1.2rem;
}

.top img{
  width: 50%;
}
